[submodule "python-basics"]
	path = python-basics
	url = https://github.com/kwright-ciat/python-basics
[submodule "python-functions"]
	path = python-functions
	url = https://github.com/kwright-ciat/python-functions
